%h1 New

= s3_uploader_form callback_url: apps_path, callback_param: "app[direct_upload_url]", id: "s3_uploader" do
  = file_field_tag :file, multiple: true
#uploads_container
  %script#template-upload{ :type => "text/x-tmpl"}
    %div{ :id => "upload_{%=o.unique_id%}", :class => "upload"}
      {%=o.name%}
      .progress.progress-striped.active
        .bar{:style => "width: 0%"}


:javascript
  $('#s3_uploader').S3Uploader()